<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="logback-custom.xml"/>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

        <logger name="org.hibernate.type" level="TRACE"/>
        <logger name="org.hibernate.SQL" level="DEBUG"/>
        <logger name="com.zaxxer.hikari.HikariConfig" level="DEBUG" />
    </springProfile>

</configuration>